*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    height: 400px;
    width: 300px;
    background-color:aqua ;
    border-radius: 20px;
}

.main > div{
    height: 50%;
    width: 100%;
}

.top{
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}


.top > h4{
    /* color: white; */
    margin-top: 70px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}